body {
  padding: 0;
  margin: 0;
  background-color: #f4f4f4;
}
.bg{
  background-color: #fffdfd;
}
.product-card {
  padding: 10px;
  display: grid;
  grid-template-rows: 300px 100px 50px;
  background-color: white;
  border-radius: 1%;
}


.product-card>div:first-child {
  margin: auto;
}

.product-card>div:first-child>img {
  width: 250px;
  height: 250px;
  object-fit: contain;
}

.product-card>div>img:hover {
  transform: scale(1.2);
  transition: all 1s ease;
  overflow: hidden;
}

#product-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  width: 80%;
  margin: auto;
  margin-top: 1%;
}

#cart-main {
  display: grid;
  grid-template-columns: 1fr 0.4fr;
  height: 100vh;
  column-gap: 10px;
  padding-top:10px ;
}

#empty-div {
  display: flex;
  /* place-items: center; */
  padding-top: 10%;
  justify-content: center;
}

#cart-item-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 95%;
  overflow: scroll;
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: #dbdbdb #f1f1f1;
}


.cart-item {
  /* border: 1px solid rgba(0, 0, 0, 0.288); */
  display: flex;
  gap: 10%;
  padding: 2% 20%;

}

.rating {
  color: rgb(238, 238, 0);
  filter: drop-shadow(black, red, red, red);
}

.cart-btns {
  display: flex;
  gap: 10%;
}

.cart-btns div {
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-btns div input {
  padding: auto;
  height: 20px;
}

.cart-btns button {
  font-weight: 600;
  font-size: medium;
}

.price-list-items-div {
  display: flex;
  justify-content: space-between;
  color: rgb(111, 109, 109);
}

.price-borders {
  border-bottom: 1px dashed rgba(169, 172, 169, 0.368);
}

#price-details {
  padding: 5%;
}

.total-amount {
  color: #000000d6;
  border-bottom: 1px dashed rgba(169, 172, 169, 0.368);

}

.total-amount+div {
  text-align: right;
}

#price-details span {
  color: rgb(32, 189, 32);
}

.place-btn,
.place-btn>button {
  margin-top: 5%;
  width: 100%;
}

.place-btn>button {
  height: 50px;
  font-size: large;
  border: none;
  font-weight: 400;
}

#navbar {
  display: flex;
  justify-content: space-between;
  padding: 0 2%;
  align-items: center;
  box-sizing: border-box;
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}